@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 25% 95%;
    --foreground: 0 0% 23%;
    --card: 93 22% 70%;
    --card-foreground: 0 0% 23%;
    --popover: 93 22% 70%;
    --popover-foreground: 0 0% 23%;
    --primary: 84 12% 48%;
    --primary-foreground: 0 0% 23%;
    --secondary: 93 18% 75%;
    --secondary-foreground: 0 0% 23%;
    --muted: 93 15% 80%;
    --muted-foreground: 0 0% 40%;
    --accent: 84 12% 55%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 93 15% 75%;
    --input: 93 15% 80%;
    --ring: 84 12% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 25 15% 10%;
    --foreground: 13 56% 90%;
    --card: 25 15% 15%;
    --card-foreground: 13 56% 90%;
    --popover: 25 15% 10%;
    --popover-foreground: 13 56% 90%;
    --primary: 16 72% 62%;
    --primary-foreground: 25 15% 10%;
    --secondary: 25 15% 20%;
    --secondary-foreground: 13 56% 90%;
    --muted: 25 15% 20%;
    --muted-foreground: 13 40% 70%;
    --accent: 16 72% 62%;
    --accent-foreground: 25 15% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 15% 25%;
    --input: 25 15% 25%;
    --ring: 16 72% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
